/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define ONE   1
#define TWO   2
#define THREE   3

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          	     |  Y   |  U    |  I    |  O   |   P   | BKSP  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          	     |  H   |  J    |  K    |  L   |   '   | ENTER |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT | 	 | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | RSHFT |
//                     | CTRL  | WIN  | ALT |  SPACE  |  SPACE  |  	 |   RET   |  SPACE  | MO3  |  ALT  | R-CRTL|
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp APOS &kp RET
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                 &kp LCTRL &kp LGUI &kp LALT &lt ONE SPACE &kp SPACE        &kp RET  &lt TWO SPACE &mo THREE &kp RALT &kp RCTRL
			>;
		};
		
		second_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |   -   |  1  |  2  |  3   |  4   |  5   |                                          	     |   6  |   7   |   8   |  9   |   0   |  DEL |
// |   -   |  -  |  -  |  -   |  -   |  -   |                                          	     |  "-" |   4   |   5   |  6   |   ;   |   ]  |
// |   -   |  -  |  -  |  -   |  -   |  -   |    -    |    -    | 	 |    -    |    -    |   +  |   1   |   2   |  3   |   -   |   -  |
//                     |   -  |  -   |  -   |   M1    |    -    |  	 |    -    |    M2   |  MO3 |   -   |   -   |
			bindings = <
	&trans   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                                &kp N6 &kp N7  &kp N8  &kp N9  &kp N0   &kp DEL
	&trans   &trans &trans &trans &trans &trans                                          &kp KP_SUBTRACT &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp SEMI &kp RBKT
	&trans &trans &trans &trans &trans &trans &trans &trans        	       &trans &trans &kp KP_PLUS &kp KP_N1  &kp KP_N2 &kp KP_N3 &trans &trans
	                 &trans &trans &trans &lt ONE SPACE &trans        		&trans  &lt TWO SPACE &mo THREE &trans &trans
			>;
		};
	

	};
};
